/* Header */

body {
  font-family: DM Sans;
}

header {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  text-align: center;
  margin: 28px 0px 28px;
  gap: 6px;
}

.header-title {
  font-size: 32px;
  font-weight: 600;
  color: #d04f4f;
}

.header-logo {
  height: 44px;
}

/* Main contener */

#main {
  width: 90%;
  border: 0px solid black;
  box-sizing: border-box;
  margin: auto;
}

/* Search Bar */
.div-search-bar {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.search-bar {
  font-family: Noto Sans;
  background-color: #e5e5e5;
  border: none;
  width: 100%;
  height: 47px;
  border-radius: 4px;
  margin: auto;
  padding: 5px 15px 5px;
  font-size: 15px;
  border: 1px solid #0085f200;
}

.search-bar::placeholder {
  color: #adacad;
}

.search-bar:focus {
  outline: none;
  border: 1px solid #0085f2;
  box-shadow: 0px 0px 0px 3px rgba(0, 142, 237, 0.263);
}

.search-icon-div {
  display: flex;
  height: 100%;
  width: 40px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 4px;
  bottom: 0px;
  top: 0px;
}

.search-icon {
  height: 25px;
}

/* Tag Section */

.section-tag {
  display: flex;
  width: 100%;
  justify-content: start;
  height: auto;
  flex-wrap: wrap;
}

.section-tag-ingredient,
.section-tag-apparel,
.section-tag-ustensil {
  display: flex;
  width: auto;
  justify-content: start;
  height: auto;
}

.tagFilter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 20px;
  padding: 10px 16px;
  width: auto;
  color: white;
  user-select: none;
  /* margin-bottom: 15px; */
  /* background-color: #0085f2; */
}

.tagFilter-txt {
  font-size: 14px;
  font-weight: bold;
}

.tagFilter-txt::first-letter {
  text-transform: uppercase;
}

.tagFilter-svg {
  height: 19px;
  cursor: pointer;
}

/* filter */

.div-filter {
  font-family: DM Sans;
  font-size: 15px;
  display: flex;
  gap: 16px;
  height: auto;
  border: 0px solid black;
}

.button-filter {
  display: flex;
  user-select: none;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  font-family: DM Sans;
  font-size: 16px;
  padding: 11px 17px 11px;
  border-radius: 5px;
  height: 35px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button-filter-text {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.button-filter-arrow {
  height: 10.5px;
  transition: 0.25s;
}

.button-filter-blue {
  background-color: #3282f7 !important;
}

.button-filter-green {
  /* Couleur de la maquette peu accessible */
  /* background-color: #68d9a4 !important; */
  background-color: #1ac978 !important;
}

.button-filter-red {
  background-color: #ed6454 !important;
}

/* Filter Dropdown */
.dropdown {
  position: relative;
  outline: none;
  font-size: 15.5px;
}

.dropdown * {
  box-sizing: border-box;
}

.dropdown-select {
  /* border: 2px solid rgb(86, 86, 86); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: DM Sans;
  background-color: black;
  transition: background 0.3s;
  gap: 10px;
  font-size: 16px;
  padding: 11px 17px 11px;
  border-radius: 5px;
  height: 56px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.dropdown-select:hover {
  background-color: rgb(63, 63, 63);
}

.dropdown-arrow {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.dropdown-menu {
  list-style: none;
  padding: 7px;
  background-color: rgb(63, 63, 63);
  border-radius: 5px;
  color: white;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
  opacity: 0;
  display: none;
  z-index: 1;
  overflow-y: scroll;
  max-height: 400px;
  width: 100%;
  /* test */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}

.dropdown-menu-open {
  display: block;
  opacity: 1;
}

.dropdown-menu li {
  padding: 9px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu li::first-letter {
  text-transform: uppercase;
}

.dropdown-menu li:hover {
  background-color: #4444445c;
}

/* Add via JS */
.dropdown-select-clicked {
  /* Si je souhaite mettre un style lors du click sur un filtre */
  /* border: 2px solid blue; */
  /* box-shadow: 0px 0px 0px 3px rgba(0, 142, 237, 0.263); */
}

.dropdown-arrow-rotate {
  transform: rotate(180deg);
}

/* When we click one time on a filter */
.active {
  /* background-color: rgb(41, 41, 41); */
}

/* Recipes */

.section-recipes {
  font-family: Lato;
  border: 0px solid black;
  margin-top: 40px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 47px;
}

@media screen and (max-width: 1200px) {
  .section-recipes {
    grid-template-columns: 1fr 1fr;
    gap: 47px;
  }
}

@media screen and (max-width: 750px) {
  .section-recipes {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}

/* Card recipes */
.card-recipes {
  border: 1px solid #0000ff00;
  min-height: 353px;
}

.card-recipes:focus {
  outline: none;
  border: 1px solid #0085f2;
  box-shadow: 0px 0px 0px 3px rgba(0, 142, 237, 0.263);
  border-radius: 6px;
}

/* img lambda */
.card-recipes-img {
  background-color: #c7bebe;
  min-height: 49%;
  max-height: 49%;
  border-radius: 5px 5px 0px 0px;
}

.card-recipes-txt {
  display: flex;
  border-radius: 0px 0px 5px 5px;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  background-color: #e7e7e7;
  min-height: 51%;
  max-height: 51%;
  box-sizing: border-box;
  padding: 17px 20px 25px;
  border: 0px solid black;
}

.card-recipes-txt-top {
  box-sizing: border-box;
  border: 0px solid black;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  box-sizing: border-box;
  margin-bottom: 16px;
  min-height: 30px;
  max-height: 30px;
  overflow: hidden;
  flex-wrap: nowrap;
  font-size: 16px;
}

.card-recipes-txt-top-left {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.1;
  /* white-space: nowrap; */
  /* max-width: 160px; */
}

.card-recipes-txt-top-right {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  font-size: 17px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.card-recipes-txt-bottom {
  display: flex;
  justify-content: space-between;
  border: 0px solid black;
  font-size: 11.5px;
}

.card-recipes-txt-bottom-left {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 45%;
}

.card-recipes-txt-bottom-left-line {
  display: flex;
  gap: 4px;
  min-height: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-recipes-txt-bottom-left-bold {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-recipes-txt-bottom-left-bold::first-letter {
  text-transform: uppercase;
}

.card-recipes-txt-bottom-left-quantity {
  white-space: nowrap;
}

.card-recipes-txt-bottom-right {
  max-width: 51%;
  border: 0px solid black;
  max-height: 93px;
  max-height: 69.6px;
  /* Show ... line 6 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.time-icon {
  height: 21px;
  top: 0.3px;
  position: relative;
}

/* Footer */
footer {
  height: 60px;
}
